@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lilita+One");
@import "~bootstrap/scss/bootstrap";

.hero {
  background-image: url("images/hero-final.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: calc(100vh - 58px); /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  overflow: hidden;
}
